<!DOCTYPE html>
<html lang="en" ng-app="Balance">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>Starter Template - Materialize</title>

    <!-- CSS  -->
    <link href="bower_components/material-design-icons/iconfont/MaterialIcons-Regular.woff" rel="stylesheet">
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>


    <script src="js/jquery-2.1.4.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="bower_components/ngstorage/ngStorage.min.js"></script>
	<link href="bower_components/angular-xeditable/dist/css/xeditable.css" rel="stylesheet">
	<script src="bower_components/angular-xeditable/dist/js/xeditable.js"></script>
    <script src="bower_components/Materialize/bin/materialize.js"></script>
    <script src="js/init.js"></script>
    <script src="js/balance.js"></script>
    <script src="js/settingsController.js"></script>
    <script src="bower_components/angular-csv-import-tmp/dist/angular-csv-import.js"></script>
</head>
<body ng-controller="SettingController as settings">

<nav class="black lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="index.html" class="brand-logo">Balance</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="Trabajadores.html">Trabajadores</a></li>
            <li><a href="Contratacion.html">Contratación</a></li>
            <li><a href="PagarTrabajadores.html">Pago</a></li>
        </ul>
        <ul class="right hide-on-med-and-down">
            <li><a class="dropdown-button" data-beloworigin="true" href="#!" data-activates="config">Configuracion<i class="material-icons right">arrow_drop_down</i></a></li>
        </ul>
        <ul id="config" class="dropdown-content">
            <li><a href="#!">Contrato De Trabajo</a></li>
            <li ng-click="settings.name=true;settings.selected=true"><a href="#!">Datos de Trabajadores</a></li>
            <li class="divider"></li>
            <li><a href="#!">Calculo y nominas</a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
            <li><a href="Trabajadores.html">Trabajadores</a></li>
            <li><a href="Contratacion.html">Contratación</a></li>
            <li><a href="PagarTrabajadores.html">Pago</a></li>
            <li><a class="dropdown-button" href="#!" data-activates="config" data-beloworigin="true">Configuracion<i class="material-icons right">arrow_drop_down</i></a></li>
        </ul>

        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>


<div class="content" ng-show="!settings.selected">
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br><br>
        <h1 class="header center black-text">Configuracion General</h1>
        <div class="row center">
            <h5 class="header col s12 light">Pagina para customizacion de datos y control de plantillas</h5>
        </div>

        <br><br>

    </div>
</div>


<div class="container">
    <div class="section">

        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m4  hoverable" ng-click="settings.hireShow=true;settings.selected=true">
                <div class="icon-block">
                    <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
                    <h5 class="center">Configuracion Contrato de Trabajo</h5>

                    <p class="light">Datos del contrato de trabajo, nominas y formulario. Añade o quite entradas, tenga en cuenta que las variables que puede poner deberan de ser añadidas antes en datos de trabajadores</p>
                </div>
            </div>

            <div class="col s12 m4  hoverable" ng-click="settings.name=true;settings.selected=true">
                <div class="icon-block">
                    <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
                    <h5 class="center">Dato de Trabajadores</h5>

                    <p class="light">Edicion de los datos pedidos a los Trabajadores, como nombre, apellidos, DNI</p>
                </div>
            </div>

            <div class="col s12 m4  hoverable"ng-click="settings.nominasShow=true;settings.selected=true">
                <div class="icon-block">
                    <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
                    <h5 class="center">Calculo y Nóminas</h5>

                    <p class="light">Configuracion de Nóminas</p>
                </div>
            </div>
        </div>

    </div>
    <br><br>

    <div class="section">

    </div>
</div>
</div>

<edit-trabajadores-values></edit-trabajadores-values>
<edit-hire-values></edit-hire-values>
<edit-nomina-values></edit-nomina-values>

<footer class="page-footer black white-text">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Company Bio</h5>
                <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Settings</h5>
                <ul>
                    <li><a class="white-text" href="#!">Link 1</a></li>
                    <li><a class="white-text" href="#!">Link 2</a></li>
                    <li><a class="white-text" href="#!">Link 3</a></li>
                    <li><a class="white-text" href="#!">Link 4</a></li>
                </ul>
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Connect</h5>
                <ul>
                    <li><a class="white-text" href="#!">Link 1</a></li>
                    <li><a class="white-text" href="#!">Link 2</a></li>
                    <li><a class="white-text" href="#!">Link 3</a></li>
                    <li><a class="white-text" href="#!">Link 4</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Made by <a class="orange-text text-lighten-3" href="http://developersashole.com">DevelopersAshole</a>
        </div>
    </div>
</footer>


<style>
    .block :hover{
        background-color:#E8E8E8;
        background-position: 0 -15px;
        cursor:pointer;
    }
</style>
<!--  Scripts-->


</body>
</html>