<!DOCTYPE html>
<html lang="en" ng-app="Balance">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>Starter Template - Materialize</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>


    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="bower_components/Materialize/bin/materialize.js"></script>
    <script src="js/init.js"></script>
    <script src="js/balance.js"></script>
    <script src="js/trabajadoresController.js"></script>
    <script src="bower_components/angular-csv-import-tmp/dist/angular-csv-import.js"></script>
</head>
<body ng-controller="TrabajadoresController as trabajadores">

<nav class="black lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="index.html" class="brand-logo">Balance</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="Trabajadores.html">Trabajadores</a></li>
            <li><a href="Contratacion.html">Contratación</a></li>
            <li><a href="Pago.html">Pago</a></li>
        </ul>
        <ul class="right hide-on-med-and-down">
            <li><a class="dropdown-button" data-beloworigin="true" href="Settings.html" data-activates="config">Configuracion<i class="material-icons right">arrow_drop_down</i></a></li>
        </ul>
        <ul id="config" class="dropdown-content">
            <li><a href="#!">Contrato De Trabajo</a></li>
            <li ng-click="settings.name=true;settings.selected=true"><a href="#!">Datos de Trabajadores</a></li>
            <li class="divider"></li>
            <li><a href="#!">Calculo y nominas</a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
            <li><a href="Trabajadores.html">Trabajadores</a></li>
            <li><a href="Contratacion.html">Contratación</a></li>
            <li><a href="Pago.html">Pago</a></li>
            <li><a class="dropdown-button" href="Settings.html" data-activates="config" data-beloworigin="true">Configuracion<i class="material-icons right">arrow_drop_down</i></a></li>
        </ul>

        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>
<!--<ng-csv-import content="trabajadores.csv.content"
               header="trabajadores.csv.header"
               separator="trabajadores.separator"
               result="trabajadores.csv.result"
               encoding="trabajadores.encoding"
               accept="csv.accept"></ng-csv-import>
{{trabajadores.csv}}
{{trabajadores.separator}}-->
<div class="container" style="padding-top: 20px;padding-bottom: 20px">
    <h3 class="center-align" style="padding-top: 20px;padding-bottom: 20px">Datos de los trabajadores</h3>
    <table class="responsive-table">
        <thead>
            <tr >
                <th ng-repeat="val in trabajadores.values">
                    {{val}}
                </th>
                <th>
                    Editar
                </th>
                <th>
                    Borrar
                </th>
            </tr>
        </thead>
        <tbody>
        <tr ng-repeat="data in trabajadores.worker">
            <td ng-repeat="value in trabajadores.values">
                <div class="container" ng-show="!data.editingWorker">
                    {{data[value]}}
                </div>
                <div class="input-field col s4" ng-show="data.editingWorker">
                    <input value="{{data[value]}}" id="{{data[value]}}_id" type="text" class="validate" ng-model="data[value]">
                    <label class="active" for="{{data[value]}}_id">{{value}}</label>
                </div>
            </td>
            <td>
                <p>
                    <input type="checkbox" id="{{data}}_id" ng-click="trabajadores.toggleEditing(data)" />
                    <label for="{{data}}_id">Editar</label>
                </p>
            </td>
            <td>
                <i class="material-icons center black-text" ng-click="settings.deleteName(name)">delete</i>
            </td>
        </tr>
        <tr ng-show="trabajadores.adding">
            <td ng-repeat="v in trabajadores.values">
                <input id="adding_worker" type="text" class="validate" ng-model="trabajadores.newWorker[v]">
                <label class="active" for="adding_worker">{{v}}</label>
            </td>
        </tr>
        </tbody>
    </table>
    <div clas="container">
        <div class="row">
            <div class="col s2 offset-s5">

                <a class="btn-floating btn-large waves-effect waves-light red" ng-click="trabajadores.adding = true" ng-show="!trabajadores.adding"><i class="material-icons">add</i></a>
                <a class="btn-floating btn-large waves-effect waves-light green" ng-click="trabajadores.adding = false;trabajadores.addWorker(trabajadores.newWorker)" ng-show="trabajadores.adding"><i class="material-icons">done</i></a>

            </div>
        </div>
    </div>
</div>
<footer class="page-footer black white-text">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Company Bio</h5>
                <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Settings</h5>
                <ul>
                    <li><a class="white-text" href="#!">Link 1</a></li>
                    <li><a class="white-text" href="#!">Link 2</a></li>
                    <li><a class="white-text" href="#!">Link 3</a></li>
                    <li><a class="white-text" href="#!">Link 4</a></li>
                </ul>
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Connect</h5>
                <ul>
                    <li><a class="white-text" href="#!">Link 1</a></li>
                    <li><a class="white-text" href="#!">Link 2</a></li>
                    <li><a class="white-text" href="#!">Link 3</a></li>
                    <li><a class="white-text" href="#!">Link 4</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Made by <a class="orange-text text-lighten-3" href="http://developersashole.com">DevelopersAshole</a>
        </div>
    </div>
</footer>


<!--  Scripts-->


</body>
</html>