<!DOCTYPE html>
<html lang="en" ng-app="Balance">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>Starter Template - Materialize</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>


    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="bower_components/ngstorage/ngStorage.min.js"></script>
    <script src="bower_components/Materialize/bin/materialize.js"></script>
	<link href="bower_components/angular-xeditable/dist/css/xeditable.css" rel="stylesheet">
	<script src="bower_components/angular-xeditable/dist/js/xeditable.js"></script>
    <script src="js/init.js"></script>
    <script src="js/balance.js"></script>
    <script src="js/trabajadoresController.js"></script>
    <script src="bower_components/angular-csv-import-tmp/dist/angular-csv-import.js"></script>
</head>
<body ng-controller="TrabajadoresController as trabajadores">

<nav class="black lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="index.html" class="brand-logo">Balance</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="Trabajadores.html">Trabajadores</a></li>
            <li><a href="Contratacion.html">Contratación</a></li>
            <li><a href="Pago.html">Pago</a></li>
        </ul>
        <ul class="right hide-on-med-and-down">
            <li><a class="dropdown-button" data-beloworigin="true" href="Settings.html" data-activates="config">Configuracion<i class="material-icons right">arrow_drop_down</i></a></li>
        </ul>
        <ul id="config" class="dropdown-content">
            <li><a href="#!">Contrato De Trabajo</a></li>
            <li ng-click="settings.name=true;settings.selected=true"><a href="#!">Datos de Trabajadores</a></li>
            <li class="divider"></li>
            <li><a href="#!">Calculo y nominas</a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
            <li><a href="Trabajadores.html">Trabajadores</a></li>
            <li><a href="Contratacion.html">Contratación</a></li>
            <li><a href="Pago.html">Pago</a></li>
            <li><a class="dropdown-button" href="Settings.html" data-activates="config" data-beloworigin="true">Configuracion<i class="material-icons right">arrow_drop_down</i></a></li>
        </ul>

        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>
<!--<ng-csv-import content="trabajadores.csv.content"
               header="trabajadores.csv.header"
               separator="trabajadores.separator"
               result="trabajadores.csv.result"
               encoding="trabajadores.encoding"
               accept="csv.accept"></ng-csv-import>
{{trabajadores.csv}}
{{trabajadores.separator}}-->
<div class="container" style="padding-top: 20px;padding-bottom: 20px">
    <div class="row">
    <div class="input-field col s6">
      <input value="Busqueda" id="busqueda"  ng-model="workerFilter" type="text" class="validate">
      <label class="active" for="busqueda" >Busqueda</label>
	
    </div>
  </div>
    <h3 class="center-align" style="padding-top: 20px;padding-bottom: 20px">Datos de los trabajadores</h3>
    <table class="responsive-table">
        <thead>
            <tr >
                <th ng-repeat="val in trabajadores.values">
                    {{val.value}}
                </th>
                <th>
                    Editar
                </th>
                <th>
                    Borrar
                </th>
            </tr>
        </thead>
        <tbody>
        <tr ng-repeat="data in trabajadores.worker | filter:workerFilter:strict track by $index">
            <td ng-repeat="value in trabajadores.values">
                <div class="container" ng-show="!data.editingWorker">
                    {{data[value.value]}}
                </div>
                <div class="input-field col s4" ng-show="data.editingWorker">
                    <input value="{{data[value.value]}}" id="{{data[value.value]}}_id" type="{{value.type == 'date' && 'text' || value.type}}" class="validate" ng-class="{datepicker: value.type == 'date'}" ng-model="data[value.value]" novalidate formnovalidate>
                    <label class="active" for="{{data[value.value]}}_id">{{value.value}}</label>
                </div>
            </td>
            <td>
                <p>
                    <input type="checkbox" id="{{data}}_id" ng-click="trabajadores.toggleEditing(data)" onclick=" $('.datepicker').pickadate({
    selectMonths: true, // Creates a dropdown to control month
    selectYears: 15 // Creates a dropdown of 15 years to control year
  });" />
                    <label for="{{data}}_id">Editar</label>
                </p>
            </td>
            <td ng-click="trabajadores.deleteWorker(data)">
                <i class="material-icons center black-text hoverable"  >delete</i>
            </td>
        </tr>
        <tr ng-show="trabajadores.adding">
            <td ng-repeat="v in trabajadores.values">
                <input id="adding_worker" type="{{v.type == 'date' && 'text' || v.type}}" class="validate" ng-class="{datepicker: v.type == 'date'}" ng-model="trabajadores.newWorker[v.value]"  novalidate formnovalidate>
                <label class="active" for="adding_worker">{{v}}</label>
            </td>
        </tr>
        </tbody>
    </table>
        <div class="row">
            <div class="col s2 offset-s5">

                <a class="btn-floating btn-large waves-effect waves-light red" ng-click="trabajadores.adding = true" ng-show="!trabajadores.adding" onclick=" $('.datepicker').pickadate({
    selectMonths: true, // Creates a dropdown to control month
    selectYears: 15 // Creates a dropdown of 15 years to control year
  });"><i class="material-icons">add</i></a>
                <a class="btn-floating btn-large waves-effect waves-light green" ng-click="trabajadores.adding = false;trabajadores.addWorker(trabajadores.newWorker)" ng-show="trabajadores.adding"><i class="material-icons">done</i></a>

            </div>
        </div>

   


	<div class="container">

	  <ul class="collapsible" data-collapsible="accordion">
		<li>
      			<div class="collapsible-header"><i class="material-icons">import_export</i>Importar CSV</div>
      			<div class="collapsible-body">
				<p>Importar CSV</p>
				<div class="row" style="overflow:hidden">
                                    <div class="col s12">
                                          <ng-csv-import content="trabajadores.csv.content" header="trabajadores.csv.header" separator="trabajadores.separator" result="trabajadores.csv.result" encoding="trabajadores.encoding" accept="csv.accept"></ng-csv-import>
                                    </div>
                                </div>
				 <div class="divider"></div>
					 
				<div class="container">
				<div class="row" ng-show="trabajadores.csvCheck">
		        	        <div class="input-field col s4" ng-repeat="value in trabajadores.values">
                        			<select ng-model="orderSelected" ng-options="excel for excel in trabajadores.csv.result[1]" >
                                			<!--<option value="" disabled selected>{{value}}?</option>-->
                                			<!--<option ng-repeat="(i,csv) in trabajadores.csv.result[1]" value="{{i}}" ng-click="console.log('clicked' + i)";>{{csv}}</option>-->
                        			</select>
                        			<label>{{value}}</label>
                			</div>
        			</div>
				</div>
                    {{trabajadores.orderSelected}}
                {{trabajadores.csv.result[1]}}
				<div class="divider"></div>
				<div class="container">
				<div class="row">
					<div class="col s5 offset-s1">
					<button class="btn waves-effect waves-light black white-text right-align" type="submit" name="action">Submit
    						<i class="material-icons right" >send</i> 
  					</button>
					</div>
					<div class ="col s2 offset-s3" ng-show="!trabajadores.csvCheck">
					 <button class="btn waves-effect waves-light black white-text right-align" type="submit" name="action" onclick="test()" ng-click="trabajadores.csvCheck=true">Organizar CSV
                                                <i class="material-icons" >refresh</i>
                                        </button>
					</div>
					<div class ="col s2 offset-s3" ng-show="trabajadores.csvCheck">
                                         <button class="btn waves-effect waves-light black white-text right-align" type="submit" name="action" onclick="test()" ng-click="trabajadores.csvCheck=false">Confirmar CSV
                                                <i class="material-icons" >refresh</i>
                                        </button>
                                        </div>

				</div>
				</div>
				
				
			</div>
    		</li>
	  </ul>

	
	</div>
 <div class="row" ng-show="trabajadores.csvCheck">
                <div class="input-field col s4" ng-repeat="value in trabajadores.values">
                        <select>
                                <option value="" disabled selected>{{value}}?</option>
                                <option ng-repeat="(i,csv) in trabajadores.csv.result[1]" value="{{i}}">{{csv}}</option>
                        </select>
                        <label>{{value}}</label>
                </div>
        </div>

</div>
<footer class="page-footer black white-text">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Company Bio</h5>
                <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Settings</h5>
                <ul>
                    <li><a class="white-text" href="#!">Link 1</a></li>
                    <li><a class="white-text" href="#!">Link 2</a></li>
                    <li><a class="white-text" href="#!">Link 3</a></li>
                    <li><a class="white-text" href="#!">Link 4</a></li>
                </ul>
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Connect</h5>
                <ul>
                    <li><a class="white-text" href="#!">Link 1</a></li>
                    <li><a class="white-text" href="#!">Link 2</a></li>
                    <li><a class="white-text" href="#!">Link 3</a></li>
                    <li><a class="white-text" href="#!">Link 4</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Made by <a class="orange-text text-lighten-3" href="http://developersashole.com">DevelopersAshole</a>
        </div>
    </div>
</footer>


<!--  Scripts-->
<script>
function test(){
$(document).ready(function() {
    console.log(test);
    $('select').material_select();
  });
}
window.onload = test;
</script>

</body>
</html>
