<div class="section" ng-show="settings.name">
    <div class="container">
    <h4>Editar Datos de Trabajadores</h4>
    </div>

    <div class="container"  >
        <div class="row" ng-repeat="name in settings.nameFields">
            <div class="col s1 offset-s1">
                <i class="large material-icons circle responsive-img center light-blue-text"></i>
            </div>
            <div class="col s2">
                <div class="container" ng-show="!name.editing">
                    <h5>{{name.value}}</h5>
                </div>
                <div class="container" ng-show="name.editing">
                    <input placeholder="value" id="{{name.value}}_value" type="text" ng-model="name.type">
                    <label for="{{name.value}}_value">Tipo</label>
                </div>
            </div>
            <div class="col s1">
                <p>
                    <input type="checkbox" id="{{name.value}}_checkBox" ng-click="settings.editName(name)" />
                    <label for="{{name.value}}_checkBox">Edit</label>
                </p>
            </div>
            <div class="input-field col s2" ng-show="name.editing">
                <input placeholder="Decoracion" id="decorator" type="text" ng-model="name.decoration">
                <label for="decorator">Decoracion</label>
            </div>
            <div class="col s1">
                <i class="medium material-icons circle responsive-img center light-blue-text hoverable" ng-click="settings.deleteName(name)">delete</i>
            </div>
        </div>
        <div class="row">
            <div class="col s1 offset-s1">
                <a class="btn-floating btn-large waves-effect waves-light blue" onclick="$('#modal1').openModal();"><i class="material-icons">add</i></a>
            </div>
        </div>

</div>
</div>
<div id="modal1" class="modal">
    <div class="modal-content">
        <h4>Añada un nuevo valor</h4>
        <div class="input-field col s4">
            <input id="valor" type="text" class="validate" ng-model="addValue">
            <label class="active" for="valor">Valor</label>
        </div>
        <div class="input-field col s4">
            <input id="busqueda" type="text" class="validate" ng-model="searchText">
            <label class="active" for="busqueda">Buscar</label>
        </div>
        <div class="container">
            <div class="row" ng-repeat="input in settings.inputType | filter:searchText" >
                <div class="col s1">
                    <p>
                        <input type="checkbox" id="{{input}}_checkBox" ng-click="settings.selectedInput=input;settings.inputSelected=true;settings.searchText=input" />
                        <label for="{{input}}_checkBox">{{input}}</label>
                    </p>
                </div>
                <div class="col s5">
                    <i class="medium material-icons circle responsive-img center light-blue-text">  {{icon}}</i> <strong>{{icon}}</strong>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn green" ng-click="settings.addWorkerValue({value:addValue,type:settings.selectedInput})">Agregar</a>
    </div>
</div>